.root{
     //-fx-background-color: #1d1d1d;
     -fx-background-color: #B8860B;

     //-fx-border-color: #1d1d1d;
     -fx-border-color: #B8860B;
     -fx-border-width: 7 ;


}
.background {
    //-fx-background-color: #1d1d1d;

    -fx-background-color: #B8860B;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
	-fx-background-color: black;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    //-fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    //-fx-border-width: 0;
    //-fx-background-radius: 0;
    -fx-background-radius: 1;
    //-fx-background-color: #1d1d1d;
    -fx-background-color: #B8860B;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
    //https://developer.mozilla.org/es/docs/Web/CSS/font-weight  (grosor text)
    //-fx-text-fill: #d8d8d8;
    -fx-text-fill: #000000;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-pref-width: 140px;

}
//https://www.cerotec.net/tabla-colores-web   (colores web code)
//https://www.emprender-facil.com/colores-para-negocios-de-comida/
//https://code.makery.ch/es/library/javafx-tutorial/part2/  (tableview)
//https://sodocumentation.net/es/javafx/topic/2229/tableview  (tableview)
//https://blog.baehost.com/comandos-basicos-para-mysql/ (Comandos MySQL consola)

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}
























/*
https://code.makery.ch/es/library/javafx-tutorial/part4/


https://www.javatpoint.com/javafx-css
https://www.w3.org/TR/css-backgrounds-3/#the-border-width
https://stackoverflow.com/questions/30408470/how-to-create-custom-border-style-in-javafx-css
https://docs.oracle.com/javase/8/javafx/get-started-tutorial/css.htm
https://javafxpedia.com/es/tutorial/1581/css
https://www.tutorialspoint.com/how-to-create-an-vbox-using-javafx
https://stackoverflow.com/questions/46812588/textfield-css-styling-using-javafx/46813055
https://stackoverflow.com/questions/27014609/javafx-textfield-css
https://openjfx.io/javadoc/13/javafx.controls/javafx/scene/control/TextField.html
https://stackoverrun.com/es/q/6771250

*/