.root
{
    -fx-base: #666666;
}

.text-area{
     -fx-pref-height: 700;
     -fx-pref-width: 100;
}
.button:hover{

}
#ButtonWidthSpace{
    -fx-pref-width: 220;
}
#ButtonWidthCtrl{
    -fx-pref-width: 65;
}
#ButtonWidthShift{
    -fx-pref-width: 65;
}
#ButtonWidth1{
    -fx-pref-width: 36;
}